:root {
    --primary-color: #FFE4E4;
    --secondary-color: #FFACAC;
    --accent-color: #FF6B6B;
    --background-color: #FFF0F0;
    --btn-active: #FF6B6B;
    --btn-hover: #FF4C4C;
    --font-family: "IBM Plex Mono", monospace;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
}

.mode-selector {
    background-color: var(--primary-color);
    border: 1px solid black;
    box-sizing: border-box;
}

.btn {
    background-color: var(--secondary-color);
    color: black;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    background-color: var(--btn-active);
    color: black;
}

.btn:disabled {
    background-color: var(--primary-color);
    color: #999;
    cursor: not-allowed;
}

.btn:disabled:hover {
    background-color: var(--primary-color);
}

.btn.active:disabled {
    background-color: var(--btn-active);
    color: white;
    cursor: not-allowed;
}
.card {
    background-color: #FFF5F5;
}